/Library/
/Logs/
/.vs/
/obj/
.vsconfig
*/*.dwlt
*.sln
UserSettings/Layouts/default-2022.dwlt
*.bak
Assembly-CSharp.csproj
/UserSettings
/Temp
Assets/Scenes/TestModel.unity
Assets/Scenes/TestModel.unity.meta
