/Library/
/Logs/
/.vs/
/obj/
.vsconfig
*/*.dwlt
*.sln
UserSettings/Layouts/default-2022.dwlt
*.bak
Assembly-CSharp.csproj
/UserSettings
/Temp
Assets/Scenes/TestModel.unity
Assets/Scenes/TestModel.unity.meta
Rokid.Unity.XR.csproj
Rokid.Unity.XR.Editor.csproj
Rokid.XR.Core.csproj
Rokid.XR.Core.Editor.csproj
Assembly-CSharp-Editor.csproj
